# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.env
*.env
!.env.example
backend/data/
backend/app/tests/
local_tests/

# Node
node_modules/
dist/
frontend/node_modules/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
